* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
    color: #282527;

}

html {
    scroll-behavior: smooth;
}

.cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    background: #a5d75a;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition:
        transform 0.08s ease,
        width 0.2s ease,
        height 0.2s ease;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    color: #111;
    background: #fefffd;
}




.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2.5rem 4rem;

}

.logo {

    text-decoration: none;
    color: inherit;

    font-size: 1rem;
    font-weight: 300;

    letter-spacing: .05em;


}

.nav-links {

    display: flex;
    gap: 2.5rem;

    list-style: none;

}

.nav-links a {

    text-decoration: none;
    color: #878787;

    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .08em;

    transition: .3s;

}

.active a {
    color: #372831;
}

.nav-links a:hover {

    opacity: .35;

}



#hero {

    min-height: calc(100vh - 90px);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 0 2rem;

}


#hero h1 {

    max-width: 950px;

    font-size: clamp(2.25rem, 4vw, 4.25rem);
    line-height: 1.5;

    letter-spacing: -.03em;

    /*font-family: "ivypresto-display", serif;*/
    font-weight: 100;
    font-style: normal;
    text-align: center;

}

.italics {
    font-style: italic;
}




.hero-button {

    margin-top: 4rem;

    text-decoration: none;

    color: #111;

    font-size: 1rem;

    font-weight: 300;

    border-bottom: 1px solid #111;

    padding-bottom: .25rem;

    transition: .3s;

}

.hero-button:hover {

    opacity: .6;

}




#archive {

    padding: 8rem 4rem;

}

.section-heading span {

    display: block;

    text-transform: uppercase;

    letter-spacing: .15em;

    font-size: .8rem;

    margin-bottom: 1rem;

}

.section-heading h2 {

    font-size: clamp(1.5rem, 4vw, 3.5rem);

    font-weight: 100;

}