* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
    color: #282527;
}

html {
    scroll-behavior: smooth;
}

.cursor {
    position: fixed;
    width: 5px;
    height: 5px;
    background: #0f100c;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition:
        transform 0.08s ease,
        width 0.2s ease,
        height 0.2s ease;
}

body {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 200;
    color: #111;
    background: #fefffd;
}




.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2.5rem 4rem;

}

.logo {

    text-decoration: none;
    color: inherit;

    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .05em;


}

.nav-links {

    display: flex;
    gap: 2.5rem;

    list-style: none;

}

.nav-links a {

    text-decoration: none;
    color: #878787;

    font-size: 1rem;
    letter-spacing: .08em;
    text-transform: uppercase;
    transition: .3s;

}

.active a {
    color: #372831;
}

.nav-links a:hover {

    opacity: .35;

}



#hero {

    position: relative;

    min-height: calc(100vh - 90px);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 2rem;

    overflow: hidden;

}

.hero-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#hero h1 {

    max-width: 950px;
    font-size: clamp(6rem, 4vw, 5rem);
    line-height: 1.1;
    letter-spacing: -.03em;
    font-style: left;
    text-align: center;
    font-family: ivypresto-display, serif;
    font-weight: 100;
    margin-bottom:2rem;

}

.hero-title {
    position: relative;
    z-index: 1;
}

.star {
    position: absolute;
    top: 23px;
    left: 90px;
    z-index: 0;
}

.star img {
    width:20px; 
}


#hero p {
max-width: 30%;
font-family: "IBM Plex Mono", monospace;
font-weight: 500;
letter-spacing: 0.08em;
text-transform: uppercase;
text-align: center;
line-height: 1.8;
}

.hero-button {

    margin-top: 2rem;

    text-decoration: none;

    color: #111;

    font-size: 1rem;

    font-weight: 300;

    border-bottom: 1px solid #111;

    padding-bottom: .25rem;

    transition: .3s;

    text-transform: uppercase;

}

.hero-button:hover {

    opacity: .6;

}


.project{

    position:absolute;

    display:block;

    width:300px;

    transition:.35s ease;

}

.project img{

    display:block;

    width:100%;

}

.project:hover{

    transform:translateY(-10px);

}


.reverie{

    top:10%;
    left:5%;

}

.lillybell{

    top:1%;
    right:4%;
    width:500px;

}

.hilton{

    bottom:9%;
    left:13%;

}

.dashboard{

    bottom:12%;
    right:10%;

}

.dashboard img {
    width:400px;
}

